<header class="header">
  <div class="menu-component">
    <nav>
      <a href="/">Home</a>
      <a (click)="scrollToSection('more')">More</a>
      <a (click)="scrollToSection('testimonial')">Testimonial</a>      
    </nav>
  </div>
  <div class="text-component">
    <h1>My Website</h1>
    <div class="text-content">
      <h2 class="component-title">Your Title Here</h2>
      <p class="component-line">She can live her life however she wants as long as she listens to what I have to say.</p>
      <p class="component-line">Three years later, the coffin was still full of Jello.</p>
      <p class="component-line">Today is the day I'll finally know what brick tastes like.      </p>
      <button class="text-button">Click Me</button>
    </div>
  </div>
  <div class="overlap-image-container">
    <img class="header-overlap" src="/assets/researchers-looking-alternative-energy-souces.jpg">
</div>
</header>