.testimonial-wrapper {
  width: 100%;
  background: white;
  padding: 60px 0;
  display: flex;
  justify-content: center;  
}

.testimonial-container {
  width: min(55%,1100px);
  display: flex;
  padding: 40px;
  position: relative;
  overflow: visible;    
  transition: background 0.4s ease ;
  margin-top: 150px;
}


.testimonial-left {
  position: relative;
}

.img-wrapper {
  position: absolute;
  bottom: -200px;
  left: -100px;      
  width: 380px;   
  aspect-ratio: 3/3;  
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}


.testimonial-right {
  margin-left: 300px;     
  flex: 1;
}

.quote-icon {
  font-size: 60px;
  color: #9b6bd8;
  line-height: 0;
}

.testimonial-text {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  max-width: 550px;
}

.author {
  margin-top: 20px;
  font-size: 18px;
  color: #44305e;
}

.role {
  font-size: 14px;
  color: #7d7496;
}


.dots {
  position: relative;
  margin-top: 25px;
  display: flex;
  gap: 14px;    
  height: 16px;
}

.dot {
  width: 12px;
  height: 12px;
  background: #d0ced4;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
}

.dot-indicator {
  position: absolute;
  top: 39%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background: #6a0dad;
  border-radius: 50%;
  z-index: 3;

  transition: left 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}


@media (max-width: 900px) {
.testimonial-container {
    flex-direction: column;
    padding-top: 180px; }

.testimonial-right {
    margin-left: 0;
    padding-left: 10px;
  }

.img-wrapper {
    left: 50%;
    bottom: 19%;
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
.img-wrapper {
    width: 260px;
  }

.testimonial-text {
    font-size: 16px;
  }

.author {
    font-size: 18px;
  }
}