.home-container {
  width: 100%;
  padding: 8rem 2rem 0;
  min-height: 100vh;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.top-text {
  max-width: 700px;
  margin-bottom: 150px;
}

.top-text h1 {
  font-family: 'caviarbold', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  padding-bottom: 15px;
  border-bottom: 4px solid #84a07c;
}

.top-text p {
  font-size: 1.3rem;
  color: #555;
  font-family: 'caviar', sans-serif;

}

.bottom-wrapper {
  width: 100%;
  max-width: 1100px;     
  margin: 0 auto;       
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  justify-items: center; 
  gap: clamp(2rem, 5vw, 6rem);
}

.box {
  padding: 25px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.25s ease;
}

.box:hover {
  transform: translateY(-6px);
}

.box img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 15px;
}

.box h3 {
  margin-bottom: 10px;
  color: black;
  font-family: 'caviarbold', sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.box p {
  color: #444;
  line-height: 1.6;
}
